name: Go CI
on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        
      - name: Use go 25.x
        uses: actions/setup-go@v6
        with:
          go-version: '1.24.6'

      - run: go build -o backend main.go
        working-directory: ./backend

      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          path: ./backend/backend

